<h1>{{title}}</h1>
<!--app-heroes></app-heroes--> <!--app-heroes is the element selector-->
<!--CSS element selector matches the name of the HTML element that identifies
   this component within a parent component's template.-->
<nav>
   <a routerLink="/heroes">Heroes</a>
</nav><!--The routerLink is the selector for the RouterLink
    directive that turns user clicks into router navigations. It's another of the public directives in the RouterModule.-->

<router-outlet></router-outlet>
   <!--no longer needs <app-heroes> because the app will only display the HeroesComponent when the user navigates to it.
The <router-outlet> tells the router where to display routed views.-->
<app-messages></app-messages>